@font-face {
    font-family: "jersey";
    src: url(Jersey10-Regular.ttf);
}

body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    width: 100%;
    background: #FA8500;
    height: auto;
    align-items: center;
    gap: 50px;
    font-size: 40px;
}

.banner_item {
    display: flex;
    cursor: pointer;
}

.banner_button {
    text-decoration: none;
    color: #101723;
    font-family: "jersey";
}

@media only screen and (min-width: 992px) {
    .base {
        background: #162C46;
        display: flex;
        flex: 1;
    }

    .homeLeft {
        background: #F5F5FF;
        display: flex;
        margin: 125px 50px 125px 50px;
        flex: 1;
        border-radius: 16px;
        align-items: center;
        text-align: center;
        font-family: "jersey";
    }

    .homeLeftLeft {
        padding: 0px;
        width: 40%;
        font-size: 30px;
    }

    .homeLeftRight {
        padding: 0px 70px 20px 20px;
        width: 60%;
        font-size: 22px;
    }

    .home_welcome {
        font-size: 40px;
    }

    .resume_button {
        background: #FA8500;
        color: #F5F5FF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-size: 22px;
        padding: 10px 20px;
        margin: 10px 2px; 
        cursor: pointer;
        border-radius: 16px;

        -webkit-transition: background-color 0.5s;
        -moz-transition:    background-color 0.5s;
        -ms-transition:     background-color 0.5s;
        -o-transition:      background-color 0.5s;
        transition:         background-color 0.5s;
    }

    .resume_button:hover {
        background: #162C46;
    }

    .brock_image {
        align-items: center;
    }

    .homeRight {
        background: #162C46;
        flex: 1;
    }

    .projects_base {
        padding: auto;
        background: #162C46;
        flex: 1;
        align-items: center;
    }

    .project_darker {
        width: 100%;
        background: #85BDDB;
        display: flex;
        justify-content: center;
    }

    .project_lighter {
        width: 100%;
        background: #CCEAFF;
        display: flex;
        justify-content: center;
    }

    ul {
        padding-left: 20px;
    }

    .project_images {
        width: 40%;
        height: 100%;
    }

    .bottom_bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        padding: 15px 0;
        text-align: center; 
        z-index: 1000;
    }

    .project_text {
        margin-left: 10%;
    }

    .vid {
        padding-top: 10px;
        width: 30%;
        margin-left: 10%;
    }

    .frame_container {
        width: 100%;
    }

    .resume_frame {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 1000px;
        width: 40%;
    }

    .bar {
        text-align: center;
        font-family: "jersey";
        font-size: 50px;
        background: #CCEAFF;
        width: 100%;
    }

    .contact_information {
        text-align: center;
        font-family: "jersey";
    }
}

@media only screen and (max-width: 992px) {
    .base {
        background: #162C46;
        padding: none;
        flex: none;
    }

    .home_title {
        margin: 0px 20px 0px 20px;
    }

    .homeLeft {
        background: #F5F5FF;
        margin: 125px 50px 125px 50px;
        border-radius: 16px;
        align-items: normal;
        text-align: center;
        font-family: "jersey";
    }

    .homeLeftLeft {
        padding: 0px;
        font-size: 30px;
    }

    .homeLeftRight {
        margin: 0px 20px 20px 20px;
        font-size: 22px;
    }

    .home_welcome {
        font-size: 40px;
    }

    .resume_button {
        background: #FA8500;
        color: #F5F5FF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-size: 22px;
        padding: 10px 20px;
        margin: 10px 2px; 
        cursor: pointer;
        border-radius: 16px;

        -webkit-transition: background-color 0.5s;
        -moz-transition:    background-color 0.5s;
        -ms-transition:     background-color 0.5s;
        -o-transition:      background-color 0.5s;
        transition:         background-color 0.5s;
    }

    .resume_button:hover {
        background: #162C46;
    }

    .contact_information {
        text-align: center;
        font-family: "jersey";
        padding: 0px 20px 20px 20px;
    }

    .bar {
        text-align: center;
        font-family: "jersey";
        font-size: 50px;
        background: #CCEAFF;
    }

    .project_text {
        width: 100%;
    }

    .vid {
        padding-left: 100px;
        padding-top: 10px;
    }

    .frame_container {
        width: 100%;
    }

    .projects_base {
        padding: auto;
        background: #162C46;
        flex: 1;
        align-items: center;
        width: 100%;
    }

    .project_darker {
        width: 100%;
        text-align: center;
        background: #85BDDB;
        justify-content: center;
    }

    .project_lighter {
        width: 100%;
        background: #CCEAFF;
        text-align: center;
        justify-content: center;
    }

    ul {
        padding-left: 20px;
    }

    .project_images {
        align-items: center;
        height: 100%;
    }

    .bar {
        text-align: center;
        font-family: "jersey";
        background: #CCEAFF;
        width: 100%;
    }
}